<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="base.css" type="text/css" rel="stylesheet"/>
        <script src="jquery.js" type="text/javascript"></script>

        <script type="text/javascript">
    
            $(function()
            {
                // Request router information
                $.get("routers", function(data)
                {
                    data = JSON.parse(data);
                    
                    // Load the network list
                    if (data.hasOwnProperty('available_routers'))
                    {
                        var index;
                        for (index = 0; index < data['available_routers'].length; index++)
                        {
                            var router = data['available_routers'][index];

                            var html = '<li><img src="' + router.image_url + '"/><a href="connect?ssid=' + encodeURI(router.ssid) + '&password_required=' + router.password_required  + '">' + router.ssid + '</a></li>';
                            $('#network_list').append(html);
                        }
                    }

                    // Hide the spinners
                    $('.spinner').hide();
                    
                    // Hide the loading message
                    $('#loading').hide();
                });
            });
        </script>        

        <title>Temperature Controller</title>
    </head>

    <body>
        <header>
            <div id="header_inner">
                <a id="header_logo" href="home">Temperature Controller</a>
            
                <div id="navigation_bar">
                    <nav>
                        <ul id="nav_menu_main">
                            <li><a id="home_item" class="selected_menu_item" href="home">Wi-Fi connection</a></li>
                            <li><a id="diagnostics_item" href="diagnostics">Diagnostics</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="page_content">
        
            <div id="thumbnail">
                <a href="home">< Back</a>
            </div>

            <!-- Title bar -->
            <div id="title_bar">
                <h1>Wi-Fi networks</h1>
            </div>

            <form id="scan_form" action="" method="post">
            
                <ul id="network_list">
                </ul>

                <div id="loading">
                    <span>Scanning</span>
                    <div class="spinner"></div>
                </div>

            </form>
            
        </div>
    </body>
</html>